header {
	background-color: hsla(202, 0%, 33%, 0.96);
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: 0;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: block;
	color: rgba(238,238,238,0);
	height: 0rem;
	transition: height 200ms;
}

nav ul li a {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	height: 100%;
	
	transition: background 200ms;
}
nav ul li .name {
	margin: auto;
}
.customLink .name {
	padding: 0px 6px;
	transition: transform 200ms;
}
.customLink:hover {
	background-color: #2AA6FD;
}
.customLink:hover .name {
	transform: translateY(-4px);
}
.logo {
	height: 4.5rem;
	color: #2AA6FD;
	grid-area: logo;
}
.logo .phone-number {
	position: absolute;
	top: 4px;
	left: 0;
	right: 0;
}
.logo .trapezoid {
	position: absolute;
	border-top: 1.5rem solid hsla(202, 0%, 33%, 0.96);
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	height: 0;
	left: calc(50% - 130px);
	bottom: -1.5rem;
	width: 200px;
}
.logo .llc {
	position: absolute;
	text-align: center;
	top: -1.5rem;
	left:0;
	right:0;
}

.hamburger {
	position: absolute;
	top: 0;
	right: 0;
	grid-area: hamburger;
	height: 60px;
}

.hamburger:hover {
	background-color: rgba(255,255,255,0.2);
}
.active {
	background-color: rgba(255,255,255,0.3);
}

.link1 {
	grid-area: link1;
}
.link2 {
	grid-area: link2;
}
.link3 {
	grid-area: link3;
}
.link4 {
	grid-area: link4;
}
.link5 {
	grid-area: link5;
}
.link6 {
	grid-area: link6;
}

@media screen and (min-width: 768px) {
	.link1 {
		border-left: 1px solid rgba(0,0,0,0.3);
		border-right: 1px solid rgba(0,0,0,0.3);
		grid-area: link1;
	}
	.link2 {
		border-right: 1px solid rgba(0,0,0,0.3);
		grid-area: link2;
	}
	.link3 {
		border-right: 1px solid rgba(0,0,0,0.3);
		grid-area: link3;
	}
	.link4 {
		border-left: 1px solid rgba(0,0,0,0.3);
		border-right: 1px solid rgba(0,0,0,0.3);
		grid-area: link4;
	}
	.link5 {
		border-right: 1px solid rgba(0,0,0,0.3);
		grid-area: link5;
	}
	.link6 {
		border-right: 1px solid rgba(0,0,0,0.3);
		grid-area: link6;
	}
}
@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
		.hamburger {
			display: none;
		}
		nav ul {
			display: grid;
			grid-template-columns: minmax(0, 3fr) minmax(4.75rem, 1fr) minmax(4.75rem, 1fr) minmax(6rem, 1fr)  minmax(17rem, 2fr)    minmax(6rem, 1fr) minmax(4.75rem, 1fr) minmax(4.75rem, 1fr) minmax(0, 3fr);
			grid-template-areas:
			". link1 link2 link3 logo link4 link5 . .";
		}
		nav ul li {
			height: 4.5rem;
			color: rgba(238,238,238,1);
		}
	}
}
