.carousel .slide {
  background: #333;
}

.cSlide {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white !important;
  height: 100%;
  align-items: center;
  border-bottom: 4px solid #2aa6fd;
}
.qu {
  background-image: url("../images/quote.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
}
.quote-left {
  position: absolute;
  left: 5px;
  top: 5px;
  transform: rotate(180deg);
}
.quote-right {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.quote-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 46px;
  overflow-y: auto;
}
.quote {
  margin: auto;
  color: black;
  font-size: 2rem;
  text-align: left;
  font-family: "Abel", sans-serif;
}
.the-quote {
  margin: 0px;
}
.quoted {
  color: #2aa6fd;
  text-align: right;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .quote-container {
    width: 60%;
  }
  .quote {
    width: 80%;
  }
}
