.carousel .slide {
	background: #333;
}

.cSlide {
	margin: auto;
	display: flex;
	flex-direction: column;
	background-color: white !important;
	height: 100%;
	align-items: center;
	border-bottom: 4px solid #2AA6FD;
}
.qu {
	background-image: url("../images/quote.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-width:  100px;
	max-width:  100px;
	min-height: 100px;
	max-height: 100px;
}
.quote-left {
	align-self: flex-start;
	transform: rotate(180deg);
}
.quote-right {
	align-self: flex-end;	
}
.quote-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-y: auto;
}
.quote {
	color: black;
	margin: auto;
	padding: 20px;
	width: 100%;
	text-align: left;
	font-family: 'Abel', sans-serif;
	font-size: 1.4rem;
}
.quoted {
	color: #2AA6FD;
	margin-top: 20px;
	margin-right: 100px;
	text-align: right;
}

@media screen and (min-width: 768px) {
	.quote-container {
		width: 60%;
	}
	.quote {
		width: 80%;
		text-align: justify;
	}
}