body {
	background-color: #fff;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#main-presentation {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	width: 100%;
	min-height: 1024px;
	background-image: url("images/tommerton2010-interiors.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.spacer {
	height: 1024px;
}
#why-choose {
	width: 80%;
	margin: auto;
}

#why-choose h3 {
	color: white;
	font-size: 3rem;
	text-shadow: 3px 3px 8px #222;
}

#why-choose p {
	font-size: 1.3rem;
	border: 3px solid white;
	color: #333;
	text-align: left;
	padding: 20px;
	background-color: rgba(255,255,255,0.7);
	/* text-shadow: 3px 3px 8px #222; */
}

#service-summary {
	margin: auto;
	text-align: left;
	background-image: url(./images/brick.svg);
	background-size: 80px 80px;
}

#service-summary p {
	font-family: 'Abel', sans-serif;
	font-size: 2rem;
	color: rgb(59, 59, 59);
	margin: auto;
	padding: 20px;
	width: 80%;
}

.tap-team {
	font-weight: bold;
	font-style: italic;
}

.client-quotes {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 100px;
	background-color: #2AA6FD;
}
.client-quotes h3 {
	margin: auto;
	color: white;
	font-size: 3rem;
}
.arrow {
	position: absolute;
	z-index: 400;
	margin: auto;
	
  width: 0; 
	height: 0;
	
	left:  0px;
	right: 0px;
	bottom:      -30px;
  border-left:  30px solid transparent;
  border-right: 30px solid transparent;
  border-top:   30px solid #2AA6FD;	
}
.cSlide {
	display: flex;
	background-color: white !important;
	padding: 20px;
	width: 100%;
	height: 100%;
	max-height: 400px;
	overflow-y: auto;
	align-items: center;
	border-top:    4px solid #2AA6FD;
	border-bottom: 4px solid #2AA6FD;
}
.qu {
	background-image: url("./images/quote.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-width:  30px;
	max-width:  30px;
	min-height: 30px;
	max-height: 30px;
	overflow-x: auto;
	position: absolute;
}
.quote-left {
	top: 10px;
	left: 6%;
	transform: rotate(180deg);
}
.quote-right {
	bottom: 10px;
	right: 6%;
}
.quote-container {
	display: flex;
	margin: auto;
	width: 100%;
}
.quote {
	color: black;
	margin: 20px;
	width: 100%;
	text-align: left;
	font-family: 'Abel', sans-serif;
	font-size: 1.4rem;
}
.quoted {
	color: #2AA6FD;
	margin-top: 20px;
	margin-right: 100px;
	text-align: right;
}

@media screen and (min-width: 768px) {
	#why-choose {
		width: 40%;
	}
	#why-choose p {
		text-align: justify;
	}
	#service-summary p {
		width: 60%;
	}
	.qu {
		min-width:  100px;
		max-width:  100px;
		min-height: 100px;
		max-height: 100px;
	}
	.quote-left {
		left: 14%;
	}
	.quote-right {
		right: 14%;
	}	
	.quote-container {
		flex-direction: row;
		width: 60%;
	}
	.quote {
		text-align: justify;
		margin:  40px;
	}
	#main-presentation {
		height: 100vh;
	}	
}