body {
	background-color: #fff;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
.App {
  text-align: center;
}

.client-quotes {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 100px;
	background-color: #2AA6FD;
}
.client-quotes h3 {
	margin: auto;
	color: white;
	font-size: 3rem;
}
.arrow {
	position: absolute;
	z-index: 400;
	margin: auto;
	
  width: 0; 
	height: 0;
	
	left:  0px;
	right: 0px;
	bottom:      -30px;
  border-left:  30px solid transparent;
  border-right: 30px solid transparent;
  border-top:   30px solid #2AA6FD;	
}

#tap-team {
	text-align: center;
	padding: 20px;
	color: #2AA6FD;
	font-size: 2rem;
	font-weight: bold;
	font-style: italic;
}