body {
	background-color: #fff;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#main-presentation {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100vh;
	background-image: url("images/tommerton2010-interiors.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#why-choose {
	width: 80%;
	margin: auto;
}

#why-choose h3 {
	color: white;
	font-size: 3rem;
	text-shadow: 3px 3px 8px #222;
}

#why-choose p {
	font-size: 1.3rem;
	border: 3px solid white;
	color: #333;
	text-align: left;
	padding: 20px;
	background-color: rgba(255,255,255,0.7);
	/* text-shadow: 3px 3px 8px #222; */
}

.spacer {
	height: 100vh;
}
#service-summary {
	margin: auto;
	text-align: left;
	/* background-color: rgb(54, 36, 28); */
}

#service-summary p {
	font-family: 'Abel', sans-serif;
	font-size: 2rem;
	color: rgb(59, 59, 59);
	margin: auto;
	padding: 20px;
	width: 80%;
}

.tap-team {
	font-weight: bold;
	font-style: italic;
}

.cSlide {
	display: flex;
	background-color: white !important;
	padding: 20px;
	width: 100%;
	height: 100%;

	border-top:    4px solid #00abfd;
	border-bottom: 4px solid #00abfd;
}

.quote-container {
	display: flex;
	flex-direction: row;
	position: relative;
	margin: auto;
	width: 100%;
	min-height: 400px;
	color: black;
}

.qu {
	background-image: url("./images/quote.svg");
	background-repeat: no-repeat;
	min-width:  30px;
	max-width:  30px;
	min-height: 30px;
	max-height: 30px;
	position: absolute;
}
.quote-left {
	top: 10px;
	left: 6%;
	transform: rotate(180deg);
}
.quote-right {
	bottom: 10px;
	right: 6%;
}
.quote {
	display: flex;
	flex-direction: column;
	flex: 1;
	text-align: left;
	margin: auto;
}

.quote p {
	font-family: 'Abel', sans-serif;
	font-size: 1.4rem;
}

.quote .the-quote {
	margin: auto;
	margin-left:  30px;
	margin-right: 30px;
	margin-bottom: 10px;
}

.quoted {
	text-align: right;
}

@media screen and (min-width: 768px) {
	#why-choose {
		width: 40%;
	}
	#why-choose p {
		text-align: justify;
	}
	#service-summary p {
		width: 60%;
	}
	.qu {
		min-width:  100px;
		max-width:  100px;
		min-height: 100px;
		max-height: 100px;
	}
	.quote-left {
		left: 14%;
	}
	.quote-right {
		right: 14%;
	}	
	.quote-container {
		flex-direction: row;
		width: 60%;
	}
	.quote p {
		margin-left: 100px;
		margin-right: 100px;
	}	
}